# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/

# Env & Secrets
.env
*.env.local

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing
.pytest_cache/
htmlcov/
.coverage

# Alembic
alembic/versions/__pycache__/

# Misc
.DS_Store
Thumbs.db
